
<router-outlet></router-outlet>
<div class="text-heading-1 font-poppins text-primary">Heading 1 Example</div>
<div class="text-heading-2 font-poppins text-accent-brown">Heading 2 Example</div>
<div class="text-heading-3 font-poppins text-accent-lightbrown">Heading 3 Example</div>
<div class="text-heading-4 font-poppins text-secondary-blue">Heading 4 Example</div>
<div class="text-button-1 font-poppins text-secondary-lightblue">Button 1 Example</div>
<div class="text-button-2 font-poppins text-secondary-lighterblue">Button 2 Example</div>
<div class="text-caption-1 font-poppins text-neutral-gray-600">Caption 1 Example</div>
<div class="text-caption-2 font-poppins text-neutral-gray-400">Caption 2 Example</div>
<div class="text-body-1 font-poppins text-neutral-gray-300">Body 1 Example</div>
<div class="text-body-2 font-poppins text-neutral-gray-200">Body 2 Example</div>
<div class="text-small-text font-poppins text-neutral-gray-100">Small Text Example</div>
